body {
    background: black url('dragon.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    float: center;
}
.dropdown-container{
	position:absolute;
	top: 10px;
	right: 0px;
	width: 120px;
    height: 20px;
	padding: 0px;
}
.dropdown-container ul{
	position:absolute;
	max-height:0px;
	overflow:hidden;	
	transition: all 1s;
	list-style-type:none;
	padding:0px;
	top:0.8em;
}

.dropdown-container ul li{
	width:100px;
	padding:5px;
	background-color: black;
}

.dropdown-container:hover, .dropdown-container ul.show{
	max-height:400px;
	
}


.title {
    color: black;
    font-size: 3em;
    text-shadow: 2px 2px 4px #FFFFFF;
    font-family: 'Mystery Quest', cursive;
    margin-top: 50px; 
    animation: fadein 2s; 
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

ul {
    list-style: none;
    padding: 0;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-align: center;
    width: 100px; /* establece el ancho de todos los enlaces al mismo tamaño */
    box-sizing: border-box; /* para que el padding y el borde estén incluidos en el ancho y la altura */
}

a:hover {
    color: black;
    background-color: white;
}
